html,body{
  font-family:"迷你简体黑";
  background-color: #E9E9E9
}

.main{
	padding-top: 100px;
}

.nabar-entirety{
  padding-left: 2%;
  padding-right: 3%;
}

.nav-item{
  font-size: 18px;
}

.btn{
  width: 120px;
}

.carousel-indicatnors{
  margin-bottom: 250px;
}

.carousel-inner{
  width: 800px;
  height: fit-content;
  margin-bottom: 100px;
}

.carousel-inner img{
  width: 100%;
  height: 100%;
}


#carouselExampleIndicators{
	width: 800px;
	margin: 0 auto;
}

.img-fluid{
  width: 500px;
  height: fit-content;
  float: right;
}

.btn-secondary{
  width: 600px;
  background-color: #D1BEC4;
  color: #5C5B6B;
  font-size: 20px;
  border-color: #D1BEC4;
}

.btn-secondary:hover{
  background-color: #9B949C;
  font-size: 20px;
  border-color: #9B949C;
}

.title{
  text-decoration:none;
  color:#5C6968;
}

.title:hover{
  color:#7EB18F;
}

.img-size{
    max-width:100%!important;
}

.card-title{
  text-decoration:none;
  color:black;
}

.card-title:hover{
  color:#7EB18F;
}

.accordion-button{
  color:#5C6968;
}

.accordion-body{
  line-height:40px;
}

.view-title{
  margin-top:50px;
  margin-bottom:20px;
}

.aside-top{
  background-color: white;
  padding: 20px;
  line-height:70px;
  font-size: 25px;
}

.view-content{
  text-decoration:none;
  color:#5C6968;
}

footer{
  background-color: #3f3f3f;
  color: #d5d5d5;
}

hr.light{
  border-top: 1px solid #d5d5d5;
  margin-top: 5px;
  margin-bottom: 5px;
}

.border{
  padding-top: 7px;
}
