#tst1{background-color: #73636d;
  padding: 20px;
  text-align: center;
  }
#tst2{font-size: 20px;
  text-align: left;
  }
#tst3{font-size: 20px;
  text-align: center;
  }
#tst4{
  width:200px;height: 200px;
}
#tst5{background-color: #e0d2c7;
  font-size: 20px;
  line-height:40px;
  }
#tst6{background-color: #d0b4a8;
  }
